{% extends 'base.html.twig' %}

{% block title %}Ajouter un client - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.default.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/front/tom-select-theme.css') }}">
{% endblock %}

{% block body %}
	{% block content %}
		{% if notification %}
			<div class="form-success text-center text-bold">
				{{ notification }}<br>
				<a href="{{ path('listing_projects') }}">Retourner sur la liste clients</a>
			</div>
		<div class="separator"></div>
		<div class="mb-3"></div>
		{% endif %}
		<div class="form-general">
			<h1 class="form-title text-center color-white">Ajouter un client</h1>
			<div class="mb-3"></div>
			<div class="separator"></div>
			<div class="mb-5"></div>
			{% if no_available_customers %}
				<p class="color-yellow text-center">Tous les clients ont déjà été ajoutés.</p>
			{% else %}
				{{ form_start(form_listingCustomer_add) }}
				<div>
				{{ form_row(form_listingCustomer_add.customer) }}
				<div class="mb-3"></div>
				<p class="text-left color-yellow">Secteur d'activité</p>
				{{ form_row(form_listingCustomer_add.name_activities) }}
				<div class="mb-3"></div>
				<p class="text-left color-yellow">Type de site</p>
				{{ form_row(form_listingCustomer_add.nameWebsites) }}
				<div class="mb-3"></div>
				<p class="text-left color-yellow">Type d'entreprise</p>
				{{ form_row(form_listingCustomer_add.nameEnterpriseType) }}
				<div class="mb-3"></div>
				{{ form_row(form_listingCustomer_add.submit) }}
				</div>
				{{ form_end(form_listingCustomer_add) }}
			{% endif %}
		</div>
	{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<div id="listing-filter-create-urls"
		 data-activity-url="{{ path('listing_filter_create_activity') }}"
		 data-website-url="{{ path('listing_filter_create_website') }}"
		 data-enterprise-url="{{ path('listing_filter_create_enterprise') }}"
		 hidden></div>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
	<script src="{{ asset('assets/js/listing-projects-add.js') }}"></script>
    <script src="{{ asset('assets/js/tom-select-form.js') }}"></script>
{% endblock %}