{% extends 'base.html.twig' %}

{% block content %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%  block title %}Listes des projets - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
</head>
	<body>
		<div class="container">
		<div class="mb-5"></div>
		<h1 class="text-center color-white">Liste des projets</h1>	
		<div class="mb-3"></div>
		<div class="separator"></div>
		<div class="mb-5"></div>
			<div class="d-flex flex-row-reverse justify-content-center">
				<a href="{{ path('filter_enterprise_add') }}" title="Ajouter un filtre entreprise" type="button" class="btn-submit mb-3">
					Ajouter un filtre entreprise
				</a>
				<div class="mr-3"></div>
				<a href="{{ path('filter_website_type_add') }}" title="Ajouter un filtre type de site" type="button"
					class="btn-submit mb-3">
					Ajouter un filtre type de site
				</a>
				<div class="mr-3"></div>
				<a href="{{ path('filter_activitie_add') }}" title="Ajouter un filtre activité" type="button" class="btn-submit mb-3">
					Ajouter un filtre activité
				</a>
				<div class="mr-3"></div>
				<a href="{{ path('listing_projects_add') }}" title="Ajouter un site" type="button" class="btn-submit mb-3">
					Ajouter un site
				</a>
			</div>
        	<nav class="rounded-pill verta navbar navbar-expand-lg mt-3 mb-3">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:#e6e6ff"></i></span>
				</button>
				<div class="collapse navbar-collapse bg-blue-dark text-center p-4 rounded-pill d-flex justify-content-center" id="navbarNav">
					<ul class="navbar-nav">
						<select id="selectFilters" class="form-control">
							<option value="">Choisir une activité</option>
							{% for filter in filters %}
								<option class="checkFilter" value="{{filter.id}}">{{filter.nameActivities}}</option>
							{% endfor %}
						</select>
						<div class="mr-3"></div>

						<select id="selectFiltersFa" class="form-control">
							<option value="">Choisir un type de site</option>
							{% for filterWebsite in filterWebsites %}
							<option class="checkFilter" value="{{filterWebsite.id}}">{{filterWebsite.nameWebsites}}</option>
							{% endfor %}
						</select>
						<div class="mr-3"></div>
						<select id="selectFiltersFe" class="form-control">
							<option value="">Choisir un type d'entreprise</option>
							{% for filterEnterprise in filterEnterprises %}
							<option class="checkFilter" value="{{filterEnterprise.id}}">{{filterEnterprise.NameEnterpriseType}}</option>
							{% endfor %}
						</select>
						<div class="mr-3"></div>
					</ul>
					<button class="btn-submit" onclick="validate()">Filtrer</button>
				</div>
			</nav>

			<table class="table mb-5 table-bordered" data-toggle="table" data-pagination="true">
				<thead class="bg-blue-dark-light table-borderless">
					<tr>
						<th class="color-yellow" scope="col">Entreprise</th>
						<th class="color-yellow" scope="col">Site internet</th>
						<th class="color-yellow" scope="col">Secteur d'activité</th>
						<th class="color-yellow" scope="col">Type de site</th>
						<th class="color-yellow" scope="col">Type d'entreprise</th>
						<th class="color-yellow"  scope="col">Action</th>
					</tr>
				</thead>
				<tbody class="bg-blue-dark align-middle">
					{% for listingProject in listingProjects %}
						<tr>
							<td class="verta color-white">{{ listingProject.enterprise}}</td>
							
							<td class="verta color-white">
								{% if listingProject.domain_name is empty %}
									<span>Non renseigné</span>
								{% else %}
									<a class="color-white" href="{{ listingProject.domain_name }}" target="new">{{ listingProject.domain_name}}
								{% endif %}
							</td>
							<td class="verta color-white">
								{% if listingProject.nameActivity is empty %}
									<span>Non renseigné</span>
								{% else %}
									{{listingProject.nameActivity}}
								{% endif %}
							</td>
							<td class="verta color-white">
							{% if listingProject.nameWebsite is empty %}
								<span>Non renseigné</span>
							{% else %}
								{{listingProject.nameWebsite}}
							{% endif %}
							</td>
<td class="verta color-white">
	{% if listingProject.nameEnterpriseType is empty %}
	<span>Non renseigné</span>
	{% else %}
	{{ listingProject.nameEnterpriseType|nl2br }}
	{% endif %}
</td>
							<td>
								<a href="{{ path('listing_projects_modify', {"id": listingProject.id}) }}"><i class=" color-white fas fa-cog"></i></a>
								<span class="color-white">|</span>
								<a href="{{ path('listing_projects_detete', {"id": listingProject.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une étape')" title="Supprimer"><i class=" color-white fas fa-trash"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<script>
			const currentFilters = '{{currentFilters}}';
			const currentFiltersFa = '{{currentFiltersFa}}';
			const currentFiltersFe = '{{currentFiltersFe}}';

			const selectFilters = document.querySelector('#selectFilters')
			const selectFiltersFa = document.querySelector('#selectFiltersFa')
			const selectFiltersFe = document.querySelector('#selectFiltersFe')

			selectFilters.value = currentFilters;
			selectFiltersFa.value = currentFiltersFa;
			selectFiltersFe.value = currentFiltersFe;

		function validate() {
			const selectFilters = document.querySelector('#selectFilters').value;
			const selectFiltersFa = document.querySelector('#selectFiltersFa').value;
			const selectFiltersFe = document.querySelector('#selectFiltersFe').value;

			// Récupérer l'URL actuelle
			let url = new URL(window.location.href);

			// Mettre à jour les paramètres de requête avec les nouvelles valeurs sélectionnées
			url.searchParams.set('filters', selectFilters);
			url.searchParams.set('filtersFa', selectFiltersFa);
			url.searchParams.set('filtersFe', selectFiltersFe);

			// Recharger la page avec les nouveaux paramètres de filtre
			window.location.href = url;
		}

		</script>
	</body>
</html>
{% endblock %}