{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet identité visuelle - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}
	<div class="container-custom">
		<h1 class="text-center mb-3 page-title-accent">Ajouter un projet identité visuelle</h1>
		<div class="separator mb-4"></div>

		{% if notification %}
			<div class="alert text-center success-notice-box">
				{{ notification }}
				<div class="success-notice-actions">
					<a href="{{ path('visual_identity_project') }}" class="btn btn-submit btn-inline-link">Retourner à la liste</a>
				</div>
			</div>
		{% else %}
			<div class="form-general">
				{{ form_start(form_project_add, {'attr': {'novalidate': 'novalidate'}}) }}
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group mb-3">
							{{ form_label(form_project_add.customer, 'Client', {'label_attr': {'class': 'text-white mb-1 form-label-gotham'}}) }}
							{{ form_widget(form_project_add.customer, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form_project_add.customer) }}
						</div>
					</div>
				</div>
				{{ form_row(form_project_add.submit) }}
				{{ form_end(form_project_add) }}
			</div>
		{% endif %}
	</div>
{% endblock %}
