{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}
{% block content %}
    {% block body %}
        <div class="form-general text-center">
			<h3 class="mb-5 color-yellow">Nouveau mot de passe</h3>
			<div class="mb-3"></div>
			<div class="separator"></div>
			<div class="mb-3"></div>
				{{ form_start(resetForm) }}
				{{ form_widget(resetForm.plainPassword) }}
				{{ form_widget(resetForm.submit) }}
				{{ form_end(resetForm) }}
		</div>
    {% endblock %}
{% endblock %}
