{% extends 'back/base_admin.html.twig' %}
{% block page_title %}Ajouter un client{% endblock %}

{% block title %}Ajouter un client - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}
<h1 class="color-white mb-3">Ajouter un client</h1>
<div class="separator mb-4"></div>
{% if notification %}
<div class="form-success text-center text-bold mb-3">
{{ notification }}<br>
<a href="{{ path('list_customer') }}">Retourner sur la liste des clients</a>
</div>
{% endif %}
<div class="form-general">
<div class="form-group">
{{ form_start(form_customer_add) }}
{{ form_row(form_customer_add.entreprise) }}
{{ form_row(form_customer_add.firstname) }}
{{ form_row(form_customer_add.lastname) }}
{{ form_row(form_customer_add.address) }}
{{ form_row(form_customer_add.postalCode) }}
{{ form_row(form_customer_add.tva) }}
{{ form_row(form_customer_add.submit) }}
{{ form_end(form_customer_add) }}
</div>
</div>
{% endblock %}