{% extends 'back/base_admin.html.twig' %}
{% block page_title %}Modifier un client{% endblock %}

{% block title %}Modification du client - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}
    <h1 class="color-white mb-3 text-center">Modification du client — {{ customer.entreprise }}</h1>
    <div class="separator mb-4"></div>
    {% for message in app.flashes('success') %}
        <div class="form-success text-center text-bold mb-3">
            {{ message }}<br>
            <a href="{{ path('list_customer') }}">Retourner sur la liste des clients</a>
        </div>
    {% endfor %}
    {% if notification %}
        <div class="form-success text-center text-bold mb-3">
            {{ notification }}<br>
            <a href="{{ path('list_customer') }}">Retourner sur la liste des clients</a>
        </div>
    {% endif %}
    <div class="form-general">
        {{ form_start(form_customer_modify) }}
        <div class="form-group">
            {{ form_row(form_customer_modify.entreprise) }}
            {{ form_row(form_customer_modify.firstname) }}
            {{ form_row(form_customer_modify.lastname) }}
            {{ form_row(form_customer_modify.address) }}
            {{ form_row(form_customer_modify.tva) }}
        </div>
        <div class="mt-3">{{ form_row(form_customer_modify.submit) }}</div>
        {{ form_end(form_customer_modify) }}
    </div>
{% endblock %}