{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	{% block content %}
		<div class="container form-general">
		<h1 class="text-center color-white">Ajouter un projet</h1>	
		<div class="mb-3"></div>
		<div class="separator"></div>
		<div class="mb-5"></div>
		{{ form_start(form_project_add) }}

		<div class="was-validated is-valid">
			{% if notification %}
				<div class="form-success text-center">{{ notification }}
					<div class="mb-3"></div>
					<div class="separator"></div>
					<div class="mb-3"></div>
					<a href="{{ path('current_project') }}">Retourner à la liste</a>
				</div>
			{% endif %}
				<div class="row">
					<div class="col">
							{{ form_row(form_project_add.customer) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.wordpressInstallation) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.online) }}
							<div class="mb-3"></div>
					</div>
					<div class="col">
							<div class="mb-3"></div>
							{{ form_row(form_project_add.customerbrief) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.customercontentreception) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.webdesignprogress) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.webdesignsend) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.webdesignvalidated) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.webintegration) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.webtraining) }}
							<div class="mb-3"></div>
							{{ form_row(form_project_add.comingsoon) }}

							<div class="mb-3"></div>
							{{ form_row(form_project_add.submit) }}
						</div>
					</div>
				</div>
			{{ form_end(form_project_add) }}
		</div>
	{% endblock %}
{% endblock %}