{% extends 'base.html.twig' %}


{% block content %}

	<div class="mb-5"></div>
	<h1 class="text-center color-blue-dark-shebam mb-3">Projets Clients</h1>
	<div class="mb-4"></div>

	<div class="row">
		<div class="col padding-mobile">
						{% if projects is empty %}
						<p class="text-center">Ajouter un projet <a href="{{ path('projects_add_admin') }}">ici</a></p>
						{% else %}
						<div class="d-flex flex-row-reverse">
							<a href="{{ path('projects_add_admin') }}" title="Ajouter un client" type="button" class="btn mb-3">
								<i class="fas fa-plus-circle"></i>
							</a>
						</div>
						<table class="table table-light">
							<thead class="thead-light">
								<tr>
									<th scope="col">Nom du<br> client</th>
									<th scope="col">Brief<br> client</th>
									<th scope="col">Nom de<br> domaine</th>
									<th scope="col">Coming<br> soon</th>
									<th scope="col">Contenu<br> client</th>
									<th scope="col">Maquette<br> en cours</th>
									<th scope="col">Maquette<br> envoyée</th>
									<th scope="col">Maquette<br> validée</th>
									<th scope="col">Intégration</th>
									<th scope="col">Formation</th>
									<th scope="col">Mise en ligne</th>
									{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
										<th scope="col">Action</th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
								{% for project in projects %}
									{% if project.finished == false %}
									<tr class="form-switch">
										<td>{{ project.customer }}</td>
										<td>
											<input type="checkbox" class="customerbrief form-check-input" {{ (project.customerbrief) ? 'checked' : ''}} data-customerbrief="{{project.id}}">
										</td>
										<td>
											<input type="checkbox" class="domainname form-check-input" {{ (project.domainname) ? 'checked' : ''}} data-domainname="{{project.id}}">
										</td>
									
										<td>
											<input type="checkbox" class="comingsoon form-check-input" {{ (project.comingsoon) ? 'checked' : ''}} data-comingsoon="{{project.id}}">
										</td>
									
										<td>
											<input type="checkbox" class="customercontentreception form-check-input" {{ (project.customercontentreception) ? 'checked' : ''}} data-customercontentreception="{{project.id}}">
										</td>

										<td>
											<input type="checkbox" class="webdesignprogress form-check-input" {{ (project.webdesignprogress) ? 'checked' : ''}} data-webdesignprogress="{{project.id}}">
										</td>

										<td>
											<input type="checkbox" class="webdesignsend form-check-input" {{ (project.webdesignsend) ? 'checked' : ''}} data-webdesignsend="{{project.id}}">
										</td>

										<td>
											<input type="checkbox" class="webdesignvalidated form-check-input" {{ (project.webdesignvalidated) ? 'checked' : ''}} data-webdesignvalidated="{{project.id}}">
										</td>

										<td>
											<input type="checkbox" class="webintegration form-check-input" {{ (project.webintegration) ? 'checked' : ''}} data-webintegration="{{project.id}}">
										</td>

										<td>
											<input type="checkbox" class="webtraining form-check-input" {{ (project.webtraining) ? 'checked' : ''}} data-webtraining="{{project.id}}">
										</td>

										<td>{% if project.online is empty %}<span>Inconnue</span>{% else %}{{ project.online|date('d-m-Y') }}{% endif %}</td>


										{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
										<td>
										<a href="{{ path('finishedprojects', {"id": project.id}) }}" title="Passer en projet fini"><i class="fas fa-chevron-right"></i></a>
										|
										{% if project.webtraining == 0 %}{% else %}
										<a href="{{ path('mailfinish', {"id": project.id}) }}"><i class="fas fa-envelope"></i></a>
										|
										{% endif %}
										<a href="{{ path('projects_modify_admin', {"id": project.id}) }}"  title="Modifier"><i class="fas fa-cog"></i></a>
										|
										<a href="{{ path('projects_detete_front', {"id": project.id}) }}" onclick="return confirm('Attention vous vous apprêtez à supprimer un projet')"  title="Supprimer"><i class="fas fa-trash"></i></a>
										</td>
										{% endif %}	
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
				</div>
			{% include 'popups.html.twig' %}
	</body>
</html>
{% endblock %}