{% extends 'base.html.twig' %}

{% block title %}Modifier - {{project.customer }} - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	{% block content %}
		<div class="container-fluid layout-main-offset">
			<div class="container-custom">
				<h1 class="text-center mb-3" style="color: var(--color-yellow); font-family: 'Gotham'; font-size: 1.8rem;">Modification du suivi <i class="fas fa-arrow-right"></i> {{project.customer }}</h1>
				<div class="separator mb-4"></div>

				{% if notification %}
					<div class="alert text-center" style="background: rgba(106, 191, 165, 0.2); color: var(--green-light); border-radius: 10px; border: 1px solid var(--green-light); margin-bottom: 20px;">
						{{ notification }}
						<div style="margin-top: 15px;">
							<a href="{{ path('finished_projects') }}" class="btn btn-submit" style="display: inline-block; text-decoration: none;">Retourner à la liste</a>
						</div>
					</div>
				{% else %}
					<div class="form-general">
						{{ form_start(form_project_modify, {'attr': {'novalidate': 'novalidate'}}) }}

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group mb-3">
									{{ form_row(form_project_modify.wordpressInstallation) }}
									{{ form_row(form_project_modify.online) }}
									{{ form_row(form_project_modify.domainText) }}
									{{ form_row(form_project_modify.submit) }}
								</div>
							</div>
						</div>

						{{ form_end(form_project_modify) }}
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
{% endblock %}