{% extends 'back/base_admin.html.twig' %}
{% block page_title %}Filtres — Activités{% endblock %}
{% block title %}Filtres activités - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}
    <h1 class="color-white mb-3">Filtres Activités</h1>
    <div class="separator mb-4"></div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
        <div class="d-flex flex-row-reverse mb-3">
            <a href="{{ path('filter_activitie_add') }}" class="btn btn-sm btn-admin-add">
                <i class="fas fa-plus-circle me-1"></i> Ajouter
            </a>
        </div>
        <table class="table table-bordered mb-5">
            <thead class="bg-blue-dark-light">
                <tr>
                    <th class="color-yellow text-bold">Nom</th>
                    <th class="color-yellow text-bold">Action</th>
                </tr>
            </thead>
            <tbody class="bg-blue-dark">
                {% for filterlist in filterslist %}
                    <tr>
                        <td class="color-white text-bold">{{ filterlist.nameActivities }}</td>
                        <td>
                            <a href="{{ path('filter_activitie_modify', {"id": filterlist.id}) }}" title="Modifier"><i class="color-yellow fas fa-cog"></i></a>
                            <span class="color-yellow">|</span>
                            <a href="{{ path('filter_activitie_detete', {"id": filterlist.id}) }}" data-confirm="Attention vous vous apprêtez à supprimer un filtre" title="Supprimer"><i class="color-yellow fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
